body {
  font-family: sans-serif, "Times New Roman";
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* header */

.header_layer {
  background-color: #191919;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px grey solid;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.logo {
  font-size: 32px;
  color: #F9FAF8;
  font-weight: 700;
}

.header_info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  padding: 80px;
}

.header_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  gap: 16px;
}

.title {
  font-size: 48px;
  font-weight: 1000;
  color: #F9FAF8;
}

.header_image {
  background-color: gray;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.subtext, a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
  text-decoration: none;
}


/* images */

.images {
  padding: 0px 80px 96px 80px;
}

.images_title {
  font-size: 40px;
  font-weight: 1000;
  color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  font-size: 24px;
}

.subimages {
  width: 300px;
  height: 300px;
  border: solid 6px #444444;
  border-radius: 16px;
}


/* quote */

.quote {
  background-color: #E5E7EB;
  padding: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/notes.jpg);
  background-size: cover;
}

.quote_container {
  width: 1000px;
  padding: 16px;
  border-radius: 8px;
  rotate: -13deg;
}

.quote_text {
  font-style: italic;
  font-size: 40px;
}

.quote_author {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  margin-top: 10px;
}

/* signup */

.signup {
  padding: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_container {
  background-color: #222222;
  color: white;
  width: 1200px;
  border-radius: 8px;
  padding: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

.signup_header {
  font-weight: 700;
  font-size: 36px;
}


/* footer */

.footer {
  background-color: #444444;
  color: white;
  text-align: center;
  padding: 32px;
}

/* multiple layers */

.images, .signup {
  background-color: white;
}


button {
  background-color: #3434F7;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  padding: 6px 32px;c
  cursor: pointer;
  border: none;
}

